@charset "UTF-8";

/* common
------------------------------ */
body {
    background-color: #000000;
}

/* header
------------------------------ */
header h1 {
    background-color: #2C2C2C;
    color: #FFFFFF;
}

/* main
------------------------------ */
main {
    background-color: #300A24;
    color: #FFFFFF;
}

/* footer
------------------------------ */
footer small {
    color: #FFFFFF;
}