@charset "UTF-8";

/* common
------------------------------ */
body {
    background-color: #000000;
}

/* header
------------------------------ */
header {
    background-color: #2C2C2C;
}

header h1 {
    color: #FFFFFF;
    font-family: 'M PLUS 1', sans-serif;
}

/* main
------------------------------ */
main {
    background-color: #300A24;
    color: #FFFFFF;
    font-family: 'M PLUS 1 Code', sans-serif;
}

main .green {
    color: #26A269;
}

main .blue {
    color: #08458F;
}

/* footer
------------------------------ */
footer small {
    color: #FFFFFF;
}